.container{
  background-color: var(--secondary-color);
  min-height: 100vh;
  padding: 3rem;
}

.title{
  text-align: center;
  color: var(--primary-text-color);
  font-size: 3rem;
}

.gridWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, 30rem);
  justify-content: center;
  grid-gap: 3rem;
}

/* @media screen and (min-width: 850px){
  .gridWrapper{
    grid-template-columns: repeat(2, 1fr);
  }
} */