.aboutMeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8.1rem);
  padding: 2rem;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-200px);
  transition: all .3s ease-in 0.2s;
}

@media (max-width: 930px) {
  .aboutMeContainer{
    height: calc(56vh - 8.1rem);
  }
}

.aboutMeContainer.aboutMeContainerAnimate{
  background-color: var(--secondary-color-transparent);
  opacity: 1;
  transform: translateX(0px);
}

.wordsContainer{
  /* display: flex; */
  /* flex: 1; */
  position: absolute;
  overflow: hidden;
  width: 44.4rem;
  overflow-wrap: no-wrap;
  hyphens: auto;
}

.textWords{
  margin-right: .5rem;
  font-size: 3.2rem;
}

@media (max-width: 992px) {
  .textWords{
    font-size: 2.8rem;
  }
}

/**
  white-space: nowrap;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  white-space: normal;
*/