.header{
  position: relative;
  z-index: 10;
}

.nav {
  position: fixed;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
}

.nav.dark {
  background-color: blue;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 1rem 2rem;
}

.nav a.current,
.nav a:hover {
  color: var( --quaternary-color);
  font-weight: bold;
}

.navLogoLink{
  color: var( --quaternary-color);
  padding-right: 1.5rem;
  font-size: 3.2rem;
  font-family: 'Qwitcher Grypen', cursive;
  text-decoration: none;
}

.navLink{
  color: var(--primary-text-color);
  text-decoration: none;
  padding: .7rem 1.5rem;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
  font-size: 1.6rem;
}

.navLinkCurrent{
  color: #c0392b;
}

@media (max-width: 458px) {
  .navHome {
    display: none;
  }
  .navLogoLink{
    font-size: 2.8rem;

  }
}

