.contents {

  --primary-color: #3d5cac;
  --secondary-color: #2275d9;
  --secondary-color-transparent: rgba(34, 117, 217, .7);
  --tertiary-color: #8b67c3;
  --tertiary-color-transparent: rgba(139,103,195, .7);
  --quaternary-color: #FF4646;

  --primary-text-color: #222;
  --secondary-text-color: #353434;
  --tertiary-text-color: #2c2323;
}

.contents.contentDark {

  --primary-color: #16213E;
  --secondary-color: #0F3460;
  --secondary-color-transparent: rgba(15,52,96, .7);
  --tertiary-color: #533483;
  --tertiary-color-transparent: rgba(83,52,131, .7);
  --quaternary-color: #E94560;

  --primary-text-color: #fff;
  --secondary-text-color: #D3D3D3;
  --tertiary-text-color: #7378c5;

  --primary-linear-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
