.contents {

  --primary-color: #6E85B7;
  --secondary-color: #C1DEAE;
  --secondary-color-transparent: rgba(193, 222, 174, .7);
  --tertiary-color: #B088F9;
  --tertiary-color-transparent: rgba(176,136,249, .7);
  --quaternary-color: #FF4646;

  --primary-text-color: #222;
  --secondary-text-color: #A9A9A9;
}

.contents.contentDark {

  --primary-color: #16213E;
  --secondary-color: #0F3460;
  --secondary-color-transparent: rgba(15,52,96, .7);
  --tertiary-color: #533483;
  --tertiary-color-transparent: rgba(83,52,131, .7);
  --quaternary-color: #E94560;

  --primary-text-color: #fff;
  --secondary-text-color: #D3D3D3;

  --primary-linear-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
