.technologiesContainer{
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  overflow: hidden;
  transition: all .3s ease-in 0.2s;
}

@media (max-width: 930px) {
  .technologiesContainer{
    height: calc(80vh - 5.9rem);
  }
}

@media (max-width: 500px) {
  .technologiesContainer{
    height: calc(100vh - 5.9rem);
  }
}

.technologiesContainer.technologiesContainerAnimate{
  background-color: var(--secondary-color-transparent);
}

.technologiesLineOne{
  height: 90%;
  border-left: 3px solid var(--primary-color);
  position: relative;
  transform: translateY(-500px);
  transition: all .8s ease-in 0.4s;
  flex-grow: 1;
  opacity: 0;
}

.technologiesLineOne.technologiesLineOneAnimate{
  transform: translateY(0px);
  opacity: 1;
}

.technologiesLineOne:before{
  content: '';
  height: 100%;
  border-left: 3px solid var(--secondary-color);
  position: absolute;
  left: -6px;
}

.technologyOne{
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  top: 5%;
  background-color: #e44d26;
  border: 5px solid var(--quaternary-color);
  border-radius: 15px;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

/* @media (max-width: 450px) {
  .technologyOne{
    width: 100px;
    height: 100px;
  }
} */

.technologyOneImageWrapper{
  transform: rotate(300deg);
  transform-origin: center;
}

.technologyTwo{
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 35%;
  background-color: #379ad6;
  border: 5px solid var(--quaternary-color);
  border-radius: 15px;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

/* @media (max-width: 450px) {
  .technologyTwo{
    width: 75px;
    height: 75px;
  }
} */

.technologyTwoImageWrapper{
  transform: rotate(330deg);
  transform-origin: center;
}

.technologyThree{
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 55%;
  background-color: #f7e018;
  border: 5px solid var(--quaternary-color);
  border-radius: 15px;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.technologiesLineTwo{
  height: 80%;
  border-left: 3px solid var(--primary-color);
  position: relative;
  transform: translateY(-600px);
  transition: all .4s ease-in 0.4s; 
  flex-grow: 1;
  opacity: 0;
}

.technologiesLineTwo.technologiesLineTwoAnimate{
  transform: translateY(0px);
  opacity: 1;
}

.technologiesLineTwo:before{
  content: '';
  height: 100%;
  border-left: 3px solid var(--secondary-color);
  position: absolute;
  left: -6px;
}

.lineTwoTechnologyOne{
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  top: 0%;
  background-color: white;
  border: 5px solid var(--quaternary-color);
  border-radius: 15px;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.lineTwoTechnologyTwo{
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 20%;
  background-color: navy;
  border: 5px solid var(--quaternary-color);
  border-radius: 15px;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.lineTwoTechnologyTwoWrapper{
  transform: rotate(270deg);
  transform-origin: center;
}

.lineTwoTechnologyThree{
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 55%;
  background-color: lavender;
  border: 5px solid var(--quaternary-color);
  border-radius: 15px;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.lineTwoTechnologyThreeWrapper{
  padding: 1rem;
  transform: rotate(270deg);
  transform-origin: center;
}

.technologiesLineThree{
  height: 85%;
  border-left: 3px solid var(--primary-color);
  position: relative;
  transform: translateY(-800px);
  transition: all .6s ease-in 0.4s;
  flex-grow: 1;
  opacity: 0;
}

.technologiesLineThree.technologiesLineThreeAnimate{
  transform: translateY(0px);
  opacity: 1;
}

.technologiesLineThree:before{
  content: '';
  height: 100%;
  border-left: 3px solid var(--secondary-color);
  position: absolute;
  left: -6px;
}

.lineThreeTechnologyOne{
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  top: 5%;
  background-color: lightblue;
  border: 5px solid var(--quaternary-color);
  border-radius: 1.5rem;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.lineThreeTechnologyOneWrapper{
  padding: 1rem;
  transform: rotate(318deg);
  transform-origin: center;
}

.lineThreeTechnologyTwo{
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 37%;
  background-color: lightgreen;
  border: 5px solid var(--quaternary-color);
  border-radius: 1.5rem;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.lineThreeTechnologyTwoWrapper{
  padding: 1rem;

}

.lineThreeTechnologyThree{
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  top: 60%;
  background-color: darkgray;
  border: .5rem solid var(--quaternary-color);
  border-radius: 1.5rem;
  left: -3px;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.lineThreeTechnologyThreeWrapper{
  padding: 1rem;
  transform: rotate(300deg);
  transform-origin: center;
}

.technologyPlaceholder{
  flex-grow: 1;
}

