.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 15px;
  overflow: hidden;
  border-radius: 34px;
  margin-top: 4px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
  border-radius: 34px;
}

.slider.sliderDark {
  background-color: #242F9B;
}

.button {
  z-index: 10;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
  border-radius: 50%;
}

.button.buttonDark {
  background-color: #fff;
  left: 30px;
  transition: var(--primary-animation-transition);
}

/* .button.buttonDark::before {
  content: "";
  position: absolute;
  background-color: blue;
  height: 26px;
  width: 26px;
  z-index: 20;
  border-radius: 50%;
  left: -6px;
  top: -3px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
} */

.buttonLayer {
  z-index: 10;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: transparent;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
  border-radius: 50%;
  opacity: 0;
}

.buttonLayer.buttonLayerDark {
  background-color:#242F9B;
  left: 24px;
  top: -3px; 
  opacity: 1;
}

.starLarge {
  margin: 9px 9px;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 7px solid transparent;
  border-bottom: 4px solid #fff;
  border-left: 7px solid transparent;
  transform: rotate(0deg) translate(0, -30px);
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
  transition-delay: .2s;
  opacity: 0;
}
.starLarge:before {
  border-bottom: 7px solid #fff;
  border-left: 4px solid transparent;
  border-right: 0px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -4px;
  left: -4px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.starLarge:after {
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: 7px solid transparent;
  border-bottom: 4px solid #fff;
  border-left: 7px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.starLarge.starLargeDark{
  transform: translateY(0);
  opacity: 1;
}

.starSmall {
  /* margin: 6px 13px; */
  margin: 8px 0px 8px 6px;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 5px solid transparent;
  border-bottom: 3px solid #fff;
  border-left: 5px solid transparent;
  -webkit-transition: var(--primary-animation-transition);
  transition: var(--primary-animation-transition);
  transition-delay: .1s;
  transform: rotate(53deg) translateY(-20px);
  opacity: 0;
}
.starSmall:before {
  border-bottom: 5px solid #fff;
  border-left: 3px solid transparent;
  border-right: 2px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -2.5px;
  left: -3.5px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.starSmall:after {
  position: absolute;
  display: block;
  color: #fff;
  top: 0px;
  left: -5px;
  width: 0px;
  height: 0px;
  border-right: 5px solid transparent;
  border-bottom: 3px solid #fff;
  border-left: 5px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.starSmall.starSmallDark{
  transform: rotate(53deg) translateY(0);
  opacity: 1;
}